<!doctype html>
<html lang="en" ng-app="music">

<head>
    <title>iVinyl : Always Bring the Concert with You!</title>
    <link rel="icon" type="image/png" href="Images/logoFavicon.png">
    <link rel="stylesheet" type="text/css" href="playlist.css">
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="playlist.js"></script>
    <script src="playlistAction.js"></script>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src='music.js'></script>
<body>
    <nav>
        <a href="#">
            <img src="Images/logoTitle.png">
        </a>
    </nav>
    <section>
        <a href="#">
            <div id="genreBox1" ng-app='music' ng-controller='hipHopPlaylistController'>
              <h1>Hip-Hop</h1>
							<ul>
									<li ng-repeat="h in artist">
										{{h.artist}}
								</li>
									</ul>
					</div>

        </a>
        <a href="#">
            <div id="genreBox2" ng-app= 'music' ng-controller='rockPlaylistController'>
            	<h1>Rock</h1>
								<ul>
									<li ng-repeat="r in artist">{{r.artist}}
									</li>
							</ul>
					</div>
        </a>
        <a href="#">
            <div id="genreBox3" ng-app= 'music' ng-controller= 'popPlaylistController'>
                <h1>Pop</h1>
									<ul>
										<li ng-repeat="p in artist">{{p.artist}}</li>

							</ul>

					</div>
        </a>
        <a href="#">
            <div id="genreBox4" ng-app= 'music' ng-controller='countryPlaylistController'>
                <h1>Country</h1>
									<ul>
										<li ng-repeat="c in artist">{{c.artist}}</li>
							</ul>
					</div>
        </a>
    </section>

    <div id="audioPlayer_player_box">
        <audio id="my_audioPlayer" autoplay>
        </audio>
        <div id="audioPlayer_controls_bar">
            <div style=" margin-top: -20px; margin-left: -10px;">
                <input id="seekslider" type="range" min="0" max="100" value="0" steps="1">
            </div>

            <span id="curtimetext"></span> / <span id="durtimetext"></span>
            <button id="playpausebtn">&#10074 &#10074</button>
            <button id="mutebtn">&#128266</button>
            <input id="volumeslider" type="range" min="0" max="100" value="100" steps="1">
        </div>
    </div>

	</body>

</html>
