@import url(https://fonts.googleapis.com/css?family=Arya:700);
body {
    background-image: url(Images/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    font-family: "arial";
    overflow: hidden;
}



section {
    display: inline-block;
    position: relative;
    height: 100%;

    margin-bottom: -600px;
    margin-left: 200px;
    margin-right: auto;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.container {
    width: 200px;
    height: 260px;
    position: relative;
    border: 1px solid #ccc;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
/**
*source: https://jsfiddle.net/james2doyle/qsQun/
*modified by: Charles Williams and Alex Fresa
*/
.card {

    height: 200px;
    width: 440px;

    margin-bottom: 50px;
    margin-left: 18px;
    float: left;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

<<<<<<< Updated upstream
.card div {
    display: block;
=======
<<<<<<< HEAD
.flip {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

#genreBox1 {
    top: 20px;
=======
.card div {
    display: block;
>>>>>>> origin/master
>>>>>>> Stashed changes
    height: 200px;
    width: 440px;

    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .front {
    background-color: rgba(31, 31, 31, 0.92);
    float: left;
    box-shadow: 0px 4px 5px rgba(41, 41, 41, 0.87);
    border-radius: 5px;
    border: 1px solid #b7b4b4;
<<<<<<< Updated upstream
}

.card .back {
    background-color: rgba(31, 31, 31, 0.92);
    float: left;
    box-shadow: 0px 4px 5px rgba(41, 41, 41, 0.87);
    border-radius: 5px;
    border: 1px solid #b7b4b4;
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.card.flipped {
=======
<<<<<<< HEAD

}



.flip #genreBox1 .flipped {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip #genreBox1 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

.flip #genreBox1 .face {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip #genreBox1 .front {
    cursor: pointer;
}

.flip #genreBox1 .back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: blue;
    color: white;
    cursor: pointer;
}

 /* #genreBox1:hover {

-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
transform: rotateY(180deg);
backface-visibility: hidden;
} */
=======
}

.card .back {
    background-color: rgba(31, 31, 31, 0.92);
    float: left;
    box-shadow: 0px 4px 5px rgba(41, 41, 41, 0.87);
    border-radius: 5px;
    border: 1px solid #b7b4b4;
>>>>>>> Stashed changes
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}
<<<<<<< Updated upstream

=======
>>>>>>> origin/master

.card.flipped {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

>>>>>>> Stashed changes
.card2 {

    height: 200px;
    width: 440px;

    margin-bottom: 50px;
    margin-left: 18px;
    float: left;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.card2 div {
    display: block;
    height: 200px;
    width: 440px;

    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card2 .front2 {
    background-color: rgba(31, 31, 31, 0.92);
    float: left;
    box-shadow: 0px 4px 5px rgba(41, 41, 41, 0.87);
    border-radius: 5px;
    border: 1px solid #b7b4b4;
}

.card2 .back2 {
    background-color: rgba(31, 31, 31, 0.92);
    float: left;
    box-shadow: 0px 4px 5px rgba(41, 41, 41, 0.87);
    border-radius: 5px;
    border: 1px solid #b7b4b4;
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.card2.flipped2 {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.card3 {
    top: 20px;
    height: 200px;
    width: 440px;
    margin-bottom: 50px;
    margin-left: 18px;
    float: left;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.card3 div {
    display: block;
    height: 200px;
    width: 440px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card3 .front3 {
    background-color: rgba(31, 31, 31, 0.92);
    float: left;
    box-shadow: 0px 4px 5px rgba(41, 41, 41, 0.87);
    border-radius: 5px;
    border: 1px solid #b7b4b4;
}

.card3 .back3 {
    background-color: rgba(31, 31, 31, 0.92);
    float: left;
    box-shadow: 0px 4px 5px rgba(41, 41, 41, 0.87);
    border-radius: 5px;
    border: 1px solid #b7b4b4;
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.card3.flipped3 {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.card4 {
    top: 10px;
    height: 200px;
    width: 440px;

    margin-bottom: 100px;
    margin-left: 18px;
    float: left;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.card4 div {
    display: block;
    height: 200px;
    width: 440px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card4 .front4 {
    background-color: rgba(31, 31, 31, 0.92);
    float: left;
    box-shadow: 0px 4px 5px rgba(41, 41, 41, 0.87);
    border-radius: 5px;
    border: 1px solid #b7b4b4;
}

.card4 .back4 {
    background-color: rgba(31, 31, 31, 0.92);
    float: left;
    box-shadow: 0px 4px 5px rgba(41, 41, 41, 0.87);
    border-radius: 5px;
    border: 1px solid #b7b4b4;
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}
<<<<<<< Updated upstream

.card4.flipped4 {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

nav {
    width: 120%;
    background: transparent;
    box-shadow: 0px 4px 5px rgba(41, 41, 41, 0.81);
    top: -5;
    height: 50px;
    z-index: 99999;
    position: fixed;
    margin-left: -10px;
    margin-top: -5px;
}

nav a {
    padding: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav img {
    width: 120px;
    height: 90px;
    margin-top: -25px;
}

=======

.card4.flipped4 {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

nav {
    width: 120%;
    background: transparent;
    box-shadow: 0px 4px 5px rgba(41, 41, 41, 0.81);
    top: -5;
    height: 50px;
    z-index: 99999;
    position: fixed;
    margin-left: -10px;
    margin-top: -5px;
}

nav a {
    padding: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav img {
    width: 120px;
    height: 90px;
    margin-top: -25px;
}

>>>>>>> Stashed changes
#genreBox1 {}

#genreBox2 {}

#genreBox3 {}

#genreBox4 {}

#genreBox1 h1,
#genreBox2 h1,
#genreBox3 h1,
#genreBox4 h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 70px;
    font-family: 'Arya', sans-serif;
    font-weight: lighter;
    font-size: 40px;
}

.musicInfoBox {
    background-color: rgba(46, 46, 46, 0.75);
    width: 350px;
    height: 80px;
    margin-top: 25px;
    margin-left: 0px;
    margin-bottom: -120px;
    margin-right: auto;
    position: relative;
    box-shadow: 0px 4px 5px rgba(41, 41, 41, 0.87);
}


/*My audioPlayer Player and Control Attributes */

#audioPlayer_player_box {
    width: 150%;
    height: 100px;
    background: rgba(31, 31, 31, 0.94);
    /* For browsers that do not support gradients */
    margin-top: 564px;
    margin-bottom: auto;
    margin-left: -10px;
    margin-right: auto;
    bottom: 0px;
    box-shadow: 0px -5px 5px -5px rgba(41, 41, 41, 0.87);
    */
}

#audioPlayer_controls_bar {
    background-color: transparent;
    padding: 10px;
    color: #65737e;
    position: relative;
}

#audioPlayer_controls_bar:hover {
    opacity: 0.9;
    transition: 0.15s;
}

#playpausebtn {
    color: rgb(38, 149, 230);
    margin-left: 550px;
    background: transparent;
    border: 0 none;
    cursor: pointer;
    padding: 5px;
    width: 60px;
    font-size: 15px;
    position: relative;
}

#playpausebtn:hover {
    padding: 5px;
    width: 60px;
    background: #46484d;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 4px 5px rgba(41, 41, 41, 0.87);
    text-align: center;
}

#mutebtn {
    margin-left: 900px;
    color: rgb(38, 149, 230);
    border: 0 none;
    cursor: pointer;
    background: transparent;
    padding: 5px;
    width: 60px;
    font-size: 15px;
    margin-left: 350px;
}

#mutebtn:hover {
    padding: 5px;
    background: #46484d;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 4px 5px rgb(41, 41, 41);
}

#seekslider {
    padding-right: 10px;
    padding-left: 15px;
    width: 70%;
    height: 1px;
    opacity: 0.8;
    background: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: -5px;
}

#seekslider:hover {
    opacity: 1;
    -webkit-transition-timing-function: ease-out;
}

#volumeslider {
    width: 80px;
    padding: 5px;
    background-color: ghostwhite;
}

#curtimetext {
    color: white;
    font-size: 12px;
}

#durtimetext {
    color: gray;
    font-size: 12px;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: transparent;
    height: 1px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: transparent;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border: 2px solid rgb(38, 149, 230);
    cursor: pointer;
}
