 body{
      background-image: url(Images/playlistBackground.png);
     background-size: 100%;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
	  font-family: "arial";
  }

.musicInfoBox {
    background-color: rgba(46, 46, 46, 0.89);
    width: 350px;
    height: 80px;
    margin-top: 25px;
    margin-left: 0px;
    margin-bottom: -120px;
    margin-right: auto;
    position: relative;
    box-shadow: 0px 4px 5px rgb(41, 41, 41);
}

input[type=text] {
    padding: 5px;
    background: #46484d;
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 4px 5px rgba(51, 48, 48, 0.83);
    color:#65737e;
}

input[type=text]:focus {
    border-color:#333;
}
input[type=submit] {
   float: right;
   padding: 5px;
    width: 80px;
    height: 40px;
background: #46484d;
border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px;
    font-size: 15px;
   box-shadow: 0px 4px 5px rgba(51, 48, 48, 0.83);
    color:#65737e;
}

/*My Video Player and Control Attributes */
#video_player_box {
    width: 100%;
    background-color: rgba(46, 46, 46, 0.89);
    margin-top: 605px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    box-shadow: 0px 4px 5px rgb(41, 41, 41);

}
#video_controls_bar {
    background-color: rgba(46, 46, 46, 0.89);
    padding: 10px;
    color:#65737e;
}
#video_controls_bar:hover {
    opacity: 0.9;
    transition: 0.15s;
}

#playpausebtn {
    color: ghostwhite;
    margin-left: 50px;
    background: inherit;
    border:0 none;
    cursor:pointer;
    padding: 5px;
    width: 60px;
    font-size: 15px;
}

#playpausebtn:hover {

    padding: 5px;
    width: 60px;
    background: #46484d;

-webkit-border-radius: 5px;
border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 4px 5px rgb(41, 41, 41);
    text-align: center;
}

#mutebtn {
    margin-left: 900px;
    color: ghostwhite;
    border:0 none;
    cursor:pointer;
    background: inherit;
    padding: 5px;
    width: 60px;
    font-size: 15px;
}

#mutebtn:hover {

    padding: 5px;

    background: #46484d;

    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
   box-shadow: 0px 4px 5px rgb(41, 41, 41);
}
#seekslider {
    padding-right: 10px;
    padding-left: 10px;
    width: 1317px;
    height: 6px;
    opacity: 0.8;
    background: #ff0000;
    margin-top: 10px;
}
#seekslider:hover {
     opacity: 1;
      -webkit-transition-timing-function: ease-out;
}
#volumeslider {
     width: 80px;
     padding: 3px;
}
#curtimetext {
    color: ghostwhite;
    font-size: 12px;
}
#durtimetext {
    color: gray;
    font-size: 12px;
}
input[type='range'] {
    -webkit-appearance: none !important;
    background: #000;
    border: #666 solid 1px;
    height: 1px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: rgba(165, 165, 165, 0.77);
    height: 15px;
    width: 15px;
    border-radius: 100%;
    cursor: pointer;
}
